=begin
#Streaming Availability API

#Streaming Availability API allows getting streaming availability information of movies and series; and querying the list of available shows on streaming services such as Netflix, Disney+, Apple TV, Max and Hulu across 60 countries!

The version of the OpenAPI document: 4.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.13.0

=end

require 'cgi'

module OpenapiClient
  class ShowsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get a Show
    # Get the details of a show via id, imdbId or tmdbId, including the global streaming availability info.
    # @param id [String] id of the show. You can also pass an IMDb Id or a TMDB Id as an id. The endpoint will automatically detect the type of the id and fetch the show accordingly.  When passing an IMDb Id, it should be in the format of tt&lt;numerical_id&gt;. (e.g. tt0120338 for Titanic)  When passing a TMDB Id, it should be in the format of movie/&lt;numerical_id&gt; for movies and tv/&lt;numerical_id&gt; for series. (e.g. tv/1396 for Breaking Bad and movie/597 for Titanic) 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code of the optional target country. If this parameter is not supplied, global streaming availability across all the countries will be returned. If it is supplied, only the streaming availability info from the given country will be returned. If you are only interested in the streaming availability in a single country, then it is recommended to use this parameter to reduce the size of the response and increase the performance of the endpoint. See /countries endpoint to get the list of supported countries. 
    # @option opts [String] :series_granularity series_granularity determines the level of detail for series. It does not affect movies.  If series_granularity is show, then the output will not include season and episode info.  If series_granularity is season, then the output will include season info but not episode info.  If series_granularity is episode, then the output will include season and episode info.  If you do not need season and episode info, then it is recommended to set series_granularity as show to reduce the size of the response and increase the performance of the endpoint.  If you need deep links for individual seasons and episodes, then you should set series_granularity as episode. In this case response will include full streaming info for seasons and episodes, similar to the streaming info for movies and series; including deep links into seasons and episodes, individual subtitle/audio and video quality info etc.  (default to 'episode')
    # @option opts [String] :output_language [ISO 639-1 code](https://en.wikipedia.org/wiki/ISO_639-1) of the output language. Determines in which language the output  will be in.  (default to 'en')
    # @return [Show]
    def get_show(id, opts = {})
      data, _status_code, _headers = get_show_with_http_info(id, opts)
      data
    end

    # Get a Show
    # Get the details of a show via id, imdbId or tmdbId, including the global streaming availability info.
    # @param id [String] id of the show. You can also pass an IMDb Id or a TMDB Id as an id. The endpoint will automatically detect the type of the id and fetch the show accordingly.  When passing an IMDb Id, it should be in the format of tt&lt;numerical_id&gt;. (e.g. tt0120338 for Titanic)  When passing a TMDB Id, it should be in the format of movie/&lt;numerical_id&gt; for movies and tv/&lt;numerical_id&gt; for series. (e.g. tv/1396 for Breaking Bad and movie/597 for Titanic) 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code of the optional target country. If this parameter is not supplied, global streaming availability across all the countries will be returned. If it is supplied, only the streaming availability info from the given country will be returned. If you are only interested in the streaming availability in a single country, then it is recommended to use this parameter to reduce the size of the response and increase the performance of the endpoint. See /countries endpoint to get the list of supported countries. 
    # @option opts [String] :series_granularity series_granularity determines the level of detail for series. It does not affect movies.  If series_granularity is show, then the output will not include season and episode info.  If series_granularity is season, then the output will include season info but not episode info.  If series_granularity is episode, then the output will include season and episode info.  If you do not need season and episode info, then it is recommended to set series_granularity as show to reduce the size of the response and increase the performance of the endpoint.  If you need deep links for individual seasons and episodes, then you should set series_granularity as episode. In this case response will include full streaming info for seasons and episodes, similar to the streaming info for movies and series; including deep links into seasons and episodes, individual subtitle/audio and video quality info etc.  (default to 'episode')
    # @option opts [String] :output_language [ISO 639-1 code](https://en.wikipedia.org/wiki/ISO_639-1) of the output language. Determines in which language the output  will be in.  (default to 'en')
    # @return [Array<(Show, Integer, Hash)>] Show data, response status code and response headers
    def get_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShowsApi.get_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ShowsApi.get_show"
      end
      allowable_values = ["show", "season", "episode"]
      if @api_client.config.client_side_validation && opts[:'series_granularity'] && !allowable_values.include?(opts[:'series_granularity'])
        fail ArgumentError, "invalid value for \"series_granularity\", must be one of #{allowable_values}"
      end
      allowable_values = ["en", "es", "tr", "fr"]
      if @api_client.config.client_side_validation && opts[:'output_language'] && !allowable_values.include?(opts[:'output_language'])
        fail ArgumentError, "invalid value for \"output_language\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/shows/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'series_granularity'] = opts[:'series_granularity'] if !opts[:'series_granularity'].nil?
      query_params[:'output_language'] = opts[:'output_language'] if !opts[:'output_language'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Show'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Rapid-API-Key']

      new_options = opts.merge(
        :operation => :"ShowsApi.get_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShowsApi#get_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Top Shows
    # Get the official top shows in a service. Top shows are determined by the streaming service itself.  Supported streaming services are: - Netflix: netflix - Amazon Prime Video: prime - Apple TV: apple - Max: hbo  For unsupported services, this endpoint will return an empty list.  Series granularity is always show for this endpoint, meaning that the output will not include season and episode info. 
    # @param country [String] [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code of the target country. See /countries endpoint to get the list of supported countries. 
    # @param service [String] Id of the target service. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :output_language [ISO 639-1 code](https://en.wikipedia.org/wiki/ISO_639-1) of the output language. Determines in which language the output  will be in.  (default to 'en')
    # @option opts [ShowType] :show_type Type of shows to search in. If not supplied, both movies and series will be included in the search results. 
    # @return [Array<Show>]
    def get_top_shows(country, service, opts = {})
      data, _status_code, _headers = get_top_shows_with_http_info(country, service, opts)
      data
    end

    # Get Top Shows
    # Get the official top shows in a service. Top shows are determined by the streaming service itself.  Supported streaming services are: - Netflix: netflix - Amazon Prime Video: prime - Apple TV: apple - Max: hbo  For unsupported services, this endpoint will return an empty list.  Series granularity is always show for this endpoint, meaning that the output will not include season and episode info. 
    # @param country [String] [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code of the target country. See /countries endpoint to get the list of supported countries. 
    # @param service [String] Id of the target service. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :output_language [ISO 639-1 code](https://en.wikipedia.org/wiki/ISO_639-1) of the output language. Determines in which language the output  will be in.  (default to 'en')
    # @option opts [ShowType] :show_type Type of shows to search in. If not supplied, both movies and series will be included in the search results. 
    # @return [Array<(Array<Show>, Integer, Hash)>] Array<Show> data, response status code and response headers
    def get_top_shows_with_http_info(country, service, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShowsApi.get_top_shows ...'
      end
      # verify the required parameter 'country' is set
      if @api_client.config.client_side_validation && country.nil?
        fail ArgumentError, "Missing the required parameter 'country' when calling ShowsApi.get_top_shows"
      end
      # verify the required parameter 'service' is set
      if @api_client.config.client_side_validation && service.nil?
        fail ArgumentError, "Missing the required parameter 'service' when calling ShowsApi.get_top_shows"
      end
      allowable_values = ["en", "es", "tr", "fr"]
      if @api_client.config.client_side_validation && opts[:'output_language'] && !allowable_values.include?(opts[:'output_language'])
        fail ArgumentError, "invalid value for \"output_language\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/shows/top'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = country
      query_params[:'service'] = service
      query_params[:'output_language'] = opts[:'output_language'] if !opts[:'output_language'].nil?
      query_params[:'show_type'] = opts[:'show_type'] if !opts[:'show_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Show>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Rapid-API-Key']

      new_options = opts.merge(
        :operation => :"ShowsApi.get_top_shows",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShowsApi#get_top_shows\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Shows by filters
    # Search through the catalog of the given streaming services in the given country. Provides filters such as show language, genres, keyword and release year. Output includes all the information about the shows, such as title, IMDb ID, TMDb ID, release year, deep links to streaming services, available subtitles, audios, available video quality and many more! Apart from the info about the given country-service combinations, output also includes information about streaming availability in the other services for the given country. Streaming availability info from the other countries are not included in the response.  When show_type is movie or series_granularity is show, items per page is 20. When show_type is series and series_granularity is episode items per page is 10. Otherwise, items per page is 15. 
    # @param country [String] [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code of the target country. See /countries endpoint to get the list of supported countries. 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :catalogs A comma separated list of up to 32 catalogs to search in. See /countries endpoint to get the supported services in each country and their ids.  When multiple catalogs are passed as a comma separated list, any show that is in at least one of the catalogs will be included in the result.  If no catalogs are passed, the endpoint will search in all the available catalogs in the country.  Syntax of the catalogs supplied in the list can be as the followings:  - &lt;sevice_id&gt;: Searches in the entire catalog of that service, including (if applicable) rentable, buyable shows or shows available through addons e.g. netflix, prime, apple  - &lt;sevice_id&gt;.&lt;streaming_option_type&gt;: Only returns the shows that are available in that service with the given streaming option type. Valid streaming option types are subscription, free, rent, buy and addon e.g. peacock.free only returns the shows on Peacock that are free to watch, prime.subscription only returns the shows on Prime Video that are available to watch with a Prime subscription. hulu.addon only returns the shows on Hulu that are available via an addon, prime.rent only returns the shows on Prime Video that are rentable.  - &lt;sevice_id&gt;.addon.&lt;addon_id&gt;: Only returns the shows that are available in that service with the given addon. Check /countries endpoint to fetch the available addons for a service in each country. Some sample values are: hulu.addon.hbo, prime.addon.hbomaxus. 
    # @option opts [String] :output_language [ISO 639-1 code](https://en.wikipedia.org/wiki/ISO_639-1) of the output language. Determines in which language the output  will be in.  (default to 'en')
    # @option opts [ShowType] :show_type Type of shows to search in. If not supplied, both movies and series will be included in the search results. 
    # @option opts [Array<String>] :genres A comma seperated list of genre ids to only search within the shows in those genre. See /genres endpoint to see the available genres and their ids. Use genres_relation parameter to specify between returning shows that have at least one of the given genres or returning shows that have all of the given genres. 
    # @option opts [String] :genres_relation Only used when there are multiple genres supplied in genres parameter.  When or, the endpoint returns any show that has at least one of the given genres. When and, it only returns the shows that have all of the given genres.  (default to 'and')
    # @option opts [String] :show_original_language [ISO 639-1](https://en.wikipedia.org/wiki/ISO_639-1) language code to only search within the shows whose original language matches with the provided language. 
    # @option opts [Integer] :year_min Minimum release/air year of the shows.
    # @option opts [Integer] :year_max Maximum release/air year of the shows.
    # @option opts [Integer] :rating_min Minimum rating of the shows.
    # @option opts [Integer] :rating_max Maximum rating of the shows.
    # @option opts [String] :keyword A keyword to only search within the shows have that keyword in their overview or title.
    # @option opts [String] :series_granularity series_granularity determines the level of detail for series. It does not affect movies.  If series_granularity is show, then the output will not include season and episode info.  If series_granularity is season, then the output will include season info but not episode info.  If series_granularity is episode, then the output will include season and episode info.  If you do not need season and episode info, then it is recommended to set series_granularity as show to reduce the size of the response and increase the performance of the endpoint.  If you need deep links for individual seasons and episodes, then you should set series_granularity as episode. In this case response will include full streaming info for seasons and episodes, similar to the streaming info for movies and series; including deep links into seasons and episodes, individual subtitle/audio and video quality info etc.  (default to 'show')
    # @option opts [String] :order_by Determines the ordering of the shows.  You can switch between ascending and descending order by using the order_direction parameter.  (default to 'original_title')
    # @option opts [OrderDirection] :order_direction Determines whether to order the results in ascending or descending order.  Default value when ordering alphabetically or based on dates/times is asc.  Default value when ordering by rating or popularity is desc. 
    # @option opts [String] :cursor Cursor is used for pagination. After each request, the response includes a hasMore boolean field to tell if there are more results that did not fit into the returned list. If it is set as true, to get the rest of the result set, send a new request (with the same parameters for other fields), and set the cursor parameter as the nextCursor value of the response of the previous request. Do not forget to escape the cursor value before putting it into a query as it might contain characters such as ?and &amp;.  The first request naturally does not require a cursor parameter. 
    # @return [SearchResult]
    def search_shows_by_filters(country, opts = {})
      data, _status_code, _headers = search_shows_by_filters_with_http_info(country, opts)
      data
    end

    # Search Shows by filters
    # Search through the catalog of the given streaming services in the given country. Provides filters such as show language, genres, keyword and release year. Output includes all the information about the shows, such as title, IMDb ID, TMDb ID, release year, deep links to streaming services, available subtitles, audios, available video quality and many more! Apart from the info about the given country-service combinations, output also includes information about streaming availability in the other services for the given country. Streaming availability info from the other countries are not included in the response.  When show_type is movie or series_granularity is show, items per page is 20. When show_type is series and series_granularity is episode items per page is 10. Otherwise, items per page is 15. 
    # @param country [String] [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code of the target country. See /countries endpoint to get the list of supported countries. 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :catalogs A comma separated list of up to 32 catalogs to search in. See /countries endpoint to get the supported services in each country and their ids.  When multiple catalogs are passed as a comma separated list, any show that is in at least one of the catalogs will be included in the result.  If no catalogs are passed, the endpoint will search in all the available catalogs in the country.  Syntax of the catalogs supplied in the list can be as the followings:  - &lt;sevice_id&gt;: Searches in the entire catalog of that service, including (if applicable) rentable, buyable shows or shows available through addons e.g. netflix, prime, apple  - &lt;sevice_id&gt;.&lt;streaming_option_type&gt;: Only returns the shows that are available in that service with the given streaming option type. Valid streaming option types are subscription, free, rent, buy and addon e.g. peacock.free only returns the shows on Peacock that are free to watch, prime.subscription only returns the shows on Prime Video that are available to watch with a Prime subscription. hulu.addon only returns the shows on Hulu that are available via an addon, prime.rent only returns the shows on Prime Video that are rentable.  - &lt;sevice_id&gt;.addon.&lt;addon_id&gt;: Only returns the shows that are available in that service with the given addon. Check /countries endpoint to fetch the available addons for a service in each country. Some sample values are: hulu.addon.hbo, prime.addon.hbomaxus. 
    # @option opts [String] :output_language [ISO 639-1 code](https://en.wikipedia.org/wiki/ISO_639-1) of the output language. Determines in which language the output  will be in.  (default to 'en')
    # @option opts [ShowType] :show_type Type of shows to search in. If not supplied, both movies and series will be included in the search results. 
    # @option opts [Array<String>] :genres A comma seperated list of genre ids to only search within the shows in those genre. See /genres endpoint to see the available genres and their ids. Use genres_relation parameter to specify between returning shows that have at least one of the given genres or returning shows that have all of the given genres. 
    # @option opts [String] :genres_relation Only used when there are multiple genres supplied in genres parameter.  When or, the endpoint returns any show that has at least one of the given genres. When and, it only returns the shows that have all of the given genres.  (default to 'and')
    # @option opts [String] :show_original_language [ISO 639-1](https://en.wikipedia.org/wiki/ISO_639-1) language code to only search within the shows whose original language matches with the provided language. 
    # @option opts [Integer] :year_min Minimum release/air year of the shows.
    # @option opts [Integer] :year_max Maximum release/air year of the shows.
    # @option opts [Integer] :rating_min Minimum rating of the shows.
    # @option opts [Integer] :rating_max Maximum rating of the shows.
    # @option opts [String] :keyword A keyword to only search within the shows have that keyword in their overview or title.
    # @option opts [String] :series_granularity series_granularity determines the level of detail for series. It does not affect movies.  If series_granularity is show, then the output will not include season and episode info.  If series_granularity is season, then the output will include season info but not episode info.  If series_granularity is episode, then the output will include season and episode info.  If you do not need season and episode info, then it is recommended to set series_granularity as show to reduce the size of the response and increase the performance of the endpoint.  If you need deep links for individual seasons and episodes, then you should set series_granularity as episode. In this case response will include full streaming info for seasons and episodes, similar to the streaming info for movies and series; including deep links into seasons and episodes, individual subtitle/audio and video quality info etc.  (default to 'show')
    # @option opts [String] :order_by Determines the ordering of the shows.  You can switch between ascending and descending order by using the order_direction parameter.  (default to 'original_title')
    # @option opts [OrderDirection] :order_direction Determines whether to order the results in ascending or descending order.  Default value when ordering alphabetically or based on dates/times is asc.  Default value when ordering by rating or popularity is desc. 
    # @option opts [String] :cursor Cursor is used for pagination. After each request, the response includes a hasMore boolean field to tell if there are more results that did not fit into the returned list. If it is set as true, to get the rest of the result set, send a new request (with the same parameters for other fields), and set the cursor parameter as the nextCursor value of the response of the previous request. Do not forget to escape the cursor value before putting it into a query as it might contain characters such as ?and &amp;.  The first request naturally does not require a cursor parameter. 
    # @return [Array<(SearchResult, Integer, Hash)>] SearchResult data, response status code and response headers
    def search_shows_by_filters_with_http_info(country, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShowsApi.search_shows_by_filters ...'
      end
      # verify the required parameter 'country' is set
      if @api_client.config.client_side_validation && country.nil?
        fail ArgumentError, "Missing the required parameter 'country' when calling ShowsApi.search_shows_by_filters"
      end
      allowable_values = ["en", "es", "tr", "fr"]
      if @api_client.config.client_side_validation && opts[:'output_language'] && !allowable_values.include?(opts[:'output_language'])
        fail ArgumentError, "invalid value for \"output_language\", must be one of #{allowable_values}"
      end
      allowable_values = ["and", "or"]
      if @api_client.config.client_side_validation && opts[:'genres_relation'] && !allowable_values.include?(opts[:'genres_relation'])
        fail ArgumentError, "invalid value for \"genres_relation\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'rating_min'].nil? && opts[:'rating_min'] > 100
        fail ArgumentError, 'invalid value for "opts[:"rating_min"]" when calling ShowsApi.search_shows_by_filters, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'rating_min'].nil? && opts[:'rating_min'] < 0
        fail ArgumentError, 'invalid value for "opts[:"rating_min"]" when calling ShowsApi.search_shows_by_filters, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'rating_max'].nil? && opts[:'rating_max'] > 100
        fail ArgumentError, 'invalid value for "opts[:"rating_max"]" when calling ShowsApi.search_shows_by_filters, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'rating_max'].nil? && opts[:'rating_max'] < 0
        fail ArgumentError, 'invalid value for "opts[:"rating_max"]" when calling ShowsApi.search_shows_by_filters, must be greater than or equal to 0.'
      end

      allowable_values = ["show", "season", "episode"]
      if @api_client.config.client_side_validation && opts[:'series_granularity'] && !allowable_values.include?(opts[:'series_granularity'])
        fail ArgumentError, "invalid value for \"series_granularity\", must be one of #{allowable_values}"
      end
      allowable_values = ["original_title", "release_date", "rating", "popularity_alltime", "popularity_1year", "popularity_1month", "popularity_1week"]
      if @api_client.config.client_side_validation && opts[:'order_by'] && !allowable_values.include?(opts[:'order_by'])
        fail ArgumentError, "invalid value for \"order_by\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/shows/search/filters'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = country
      query_params[:'catalogs'] = @api_client.build_collection_param(opts[:'catalogs'], :csv) if !opts[:'catalogs'].nil?
      query_params[:'output_language'] = opts[:'output_language'] if !opts[:'output_language'].nil?
      query_params[:'show_type'] = opts[:'show_type'] if !opts[:'show_type'].nil?
      query_params[:'genres'] = @api_client.build_collection_param(opts[:'genres'], :csv) if !opts[:'genres'].nil?
      query_params[:'genres_relation'] = opts[:'genres_relation'] if !opts[:'genres_relation'].nil?
      query_params[:'show_original_language'] = opts[:'show_original_language'] if !opts[:'show_original_language'].nil?
      query_params[:'year_min'] = opts[:'year_min'] if !opts[:'year_min'].nil?
      query_params[:'year_max'] = opts[:'year_max'] if !opts[:'year_max'].nil?
      query_params[:'rating_min'] = opts[:'rating_min'] if !opts[:'rating_min'].nil?
      query_params[:'rating_max'] = opts[:'rating_max'] if !opts[:'rating_max'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'series_granularity'] = opts[:'series_granularity'] if !opts[:'series_granularity'].nil?
      query_params[:'order_by'] = opts[:'order_by'] if !opts[:'order_by'].nil?
      query_params[:'order_direction'] = opts[:'order_direction'] if !opts[:'order_direction'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SearchResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Rapid-API-Key']

      new_options = opts.merge(
        :operation => :"ShowsApi.search_shows_by_filters",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShowsApi#search_shows_by_filters\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Shows by title
    # Search for movies and series by a title. Maximum amount of items returned are 20 unless there are more than 20 shows with the exact given title input. In that case all the items have 100% match with the title will be returned.  Streaming availability info for the target country is included in the response, but not for the other countries.  Results might include shows that are not streamable in the target country. Only criteria for the search are the title and the show type.  No pagination is supported. 
    # @param title [String] Title phrase to search for.
    # @param country [String] [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code of the target country. See /countries endpoint to get the list of supported countries. 
    # @param [Hash] opts the optional parameters
    # @option opts [ShowType] :show_type Type of shows to search in. If not supplied, both movies and series will be included in the search results. 
    # @option opts [String] :series_granularity series_granularity determines the level of detail for series. It does not affect movies.  If series_granularity is show, then the output will not include season and episode info.  If series_granularity is season, then the output will include season info but not episode info.  If series_granularity is episode, then the output will include season and episode info.  If you do not need season and episode info, then it is recommended to set series_granularity as show to reduce the size of the response and increase the performance of the endpoint.  If you need deep links for individual seasons and episodes, then you should set series_granularity as episode. In this case response will include full streaming info for seasons and episodes, similar to the streaming info for movies and series; including deep links into seasons and episodes, individual subtitle/audio and video quality info etc.  (default to 'show')
    # @option opts [String] :output_language [ISO 639-1 code](https://en.wikipedia.org/wiki/ISO_639-1) of the output language. Determines in which language the output  will be in.  (default to 'en')
    # @return [Array<Show>]
    def search_shows_by_title(title, country, opts = {})
      data, _status_code, _headers = search_shows_by_title_with_http_info(title, country, opts)
      data
    end

    # Search Shows by title
    # Search for movies and series by a title. Maximum amount of items returned are 20 unless there are more than 20 shows with the exact given title input. In that case all the items have 100% match with the title will be returned.  Streaming availability info for the target country is included in the response, but not for the other countries.  Results might include shows that are not streamable in the target country. Only criteria for the search are the title and the show type.  No pagination is supported. 
    # @param title [String] Title phrase to search for.
    # @param country [String] [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code of the target country. See /countries endpoint to get the list of supported countries. 
    # @param [Hash] opts the optional parameters
    # @option opts [ShowType] :show_type Type of shows to search in. If not supplied, both movies and series will be included in the search results. 
    # @option opts [String] :series_granularity series_granularity determines the level of detail for series. It does not affect movies.  If series_granularity is show, then the output will not include season and episode info.  If series_granularity is season, then the output will include season info but not episode info.  If series_granularity is episode, then the output will include season and episode info.  If you do not need season and episode info, then it is recommended to set series_granularity as show to reduce the size of the response and increase the performance of the endpoint.  If you need deep links for individual seasons and episodes, then you should set series_granularity as episode. In this case response will include full streaming info for seasons and episodes, similar to the streaming info for movies and series; including deep links into seasons and episodes, individual subtitle/audio and video quality info etc.  (default to 'show')
    # @option opts [String] :output_language [ISO 639-1 code](https://en.wikipedia.org/wiki/ISO_639-1) of the output language. Determines in which language the output  will be in.  (default to 'en')
    # @return [Array<(Array<Show>, Integer, Hash)>] Array<Show> data, response status code and response headers
    def search_shows_by_title_with_http_info(title, country, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShowsApi.search_shows_by_title ...'
      end
      # verify the required parameter 'title' is set
      if @api_client.config.client_side_validation && title.nil?
        fail ArgumentError, "Missing the required parameter 'title' when calling ShowsApi.search_shows_by_title"
      end
      # verify the required parameter 'country' is set
      if @api_client.config.client_side_validation && country.nil?
        fail ArgumentError, "Missing the required parameter 'country' when calling ShowsApi.search_shows_by_title"
      end
      allowable_values = ["show", "season", "episode"]
      if @api_client.config.client_side_validation && opts[:'series_granularity'] && !allowable_values.include?(opts[:'series_granularity'])
        fail ArgumentError, "invalid value for \"series_granularity\", must be one of #{allowable_values}"
      end
      allowable_values = ["en", "es", "tr", "fr"]
      if @api_client.config.client_side_validation && opts[:'output_language'] && !allowable_values.include?(opts[:'output_language'])
        fail ArgumentError, "invalid value for \"output_language\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/shows/search/title'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'title'] = title
      query_params[:'country'] = country
      query_params[:'show_type'] = opts[:'show_type'] if !opts[:'show_type'].nil?
      query_params[:'series_granularity'] = opts[:'series_granularity'] if !opts[:'series_granularity'].nil?
      query_params[:'output_language'] = opts[:'output_language'] if !opts[:'output_language'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Show>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Rapid-API-Key']

      new_options = opts.merge(
        :operation => :"ShowsApi.search_shows_by_title",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShowsApi#search_shows_by_title\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
